.map{
  width: 100%;
  height: auto;
}
.mapTop{
  width: 100%;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  padding-left: 4%;
  font-size: 14px;
  color: #646b6e;
  background: #f3f6f8;
}
.mapTree{
  position: relative;
  float: left;
  width: 20%;
  background: #f3f6f8;
}
.mapTree .status{
  width: 100%;
  height: 60px;
  background: #fff;
}
.mapTree .status .searchInput{
  float: left;
  width: 80%;
  height: 30px;
  border: solid 1px #d4dbdf;
  margin: 0 auto;
  margin-top: 14px;
  margin-left: 10%;
  border-radius: 5px;
}
.mapTree .status .searchInput .selectType{
  float: left;
  width: 30%;;
  height: 30px;
  background: #f3f6f8 url(../../images/select.png) no-repeat 90% center;
  border-right: solid 1px #d4dbdf;
  box-sizing: border-box;
  padding-left: 5px;
  color: #646b6e;
}
.mapTree .status .searchContent{
  float: left;
  width: 70%;
  height: 30px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 5px;
  outline: none;
}
.mapTree .Import{
  width: 100%;
  height: 24px;
  margin-top: 15px;
}
.mapTree .Import .ImportTips{
  float: left;
  width: 55%;
  height: 24px;
  font-size: 14px;
  color: #646b6e;
  text-align: center;
}
.mapTree .Import .ImportButton{
  float: left;
  width: 107px;
  height: 24px;
  background: #00bf67;
  line-height: 24px;
  text-align: center;
  color: #fff;
  cursor:pointer;
  font-size: 14px;
  border-radius: 5px;
}
.mapTree .Import .ImportButton:hover,active{
  background: #16f08b;
}

.mapTree .import_module{
  position: absolute;
  left: 100%;
  top: 0;
  background: #fff;
  width: 540px;
  height: 100%;
  z-index: 1020;
  overflow: auto;
}
.mapTree .import_module .title{
  width: 540px;
  height: 50px;
  background: #ebf0f4;
}
.mapTree .import_module .title p:first-child{
  float: left;
  width: 200px;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 14px;
  color: #4d5254;
}
.mapTree .import_module .title p:last-child{
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  width: 20px;
  cursor: pointer;
  height: 20px;
  background:url(../../images/close.png) no-repeat center;
}
.mapTree .import_module .inport_step{
  width: 495px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  border-bottom: solid 1px #e6ebee;
}
.mapTree .import_module .inport_step .one_step{
  width: 100%;
  height: 32px;
  margin-top: 25px;
}
.mapTree .import_module .inport_step .one_step p{
  line-height: 32px;
  font-size: 14px;
}
.mapTree .import_module .inport_step .one_step p:nth-child(1){
  width: 200px;
  height: 32px;
  float: left;
  font-weight: bold;
}
.mapTree .import_module .inport_step .one_step p:nth-child(2){
  width: 103px;
  height: 32px;
  float: right;
  color: #fff;
  text-align: center;
  background: #00a0e9;
  cursor: pointer;
}
.mapTree .import_module .inport_step .one_step p:nth-child(2):hover,active{
  background: #1caced;
}
.mapTree .import_module .inport_step .inport_table{
  margin-top: 10px;
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  color: #4d5254;
}
.mapTree .import_module .inport_step .inport_table_list{
  width: 100%;
  height: 216px;
  font-size: 14px;
  color: #4d5254;
  border: solid 1px #bcc8ce;
}
.mapTree .import_module .inport_step .inport_table_list thead th{
  text-align: center;
  font-size: 14px;
  color: #4d5254;
  background: #e5e9ec;
  border: solid 1px #bcc8ce;
  background: #e5e9ec;
  width: 88px;
  height: 32px;
}
.mapTree .import_module .inport_step .inport_table_list tr td{
  text-align: center;
  font-size: 14px;
  color: #4d5254;
  border: solid 1px #bcc8ce;
  background: #f3f6f8;
}
.mapTree .import_module .two_step{
  position: relative;
  width: 100%;
  height: 32px;
  margin-top: 34px;
}
.mapTree .import_module .two_step p{
  float: left;
  width: 250px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  color: #4d5254;
  font-weight: bold;
}
.mapTree .import_module .two_step .browseButton{
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
  width: 103px;
  height: 32px;
  background: #00a0e9;
  cursor: pointer;
}
.mapTree .import_module .two_step .fileOpacity{
  float: right;
  width: 103px;
  height: 32px;
  background: #00a0e9;
  cursor: pointer;
  line-height: 32px;
  text-align: center;
  font-size:14px;
  color: #fff;
}
.mapTree .import_module .two_step .browseButton:hover ~ .fileOpacity{
  background: #1caced;
}
.mapTree .import_module .inport_step .fileName_show{
  margin-top: 15px;
  width: 100%;
  height: 30px;
  border: solid 1px #d4dbdf;
  font-size: 14px;
  color: #a0a0a0;
  box-sizing: border-box;
  padding-left: 10px;
}
.mapTree .import_module .inport_step .publish_button{
  width: 168px;
  height: 32px;
  margin: 0 auto;
  text-align: center;
  line-height: 32px;
  color: #fff;
  font-size: 14px;
  background: #00bf67;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.mapTree .import_module .inport_step .publish_button:hover,active{
  background: #16f08b;
}
.mapTree .import_module .explain{
  box-sizing: border-box;
  padding: 0 19px;
  width: 100%;
  height: auto;
  line-height: 25px;
  font-size: 14px;
  color: #a0a0a0;
}
#map_tree{
  width: 100%;
  /*height: 400px;*/
  margin-top: 20px;
  box-sizing: border-box;
  padding-left: 10%;
  overflow: auto;
}








#mapRight{
  position: absolute;
  left: 20%;
  width: 80%;
  box-sizing: border-box;
  border: solid 1px #dcdcdc;
}
/*地图标注*/
#test{
  display: none;
  width:395px;
  height:240px;
  border: solid 1px #d4dbdf;
}
#test .map_header{
  width: 100%;
  height: 45px;
  background: #f3f6f8;
  border-bottom: solid 1px #d4dbdf;
}
#test .map_header P:nth-child(1){
  float: left;
  width: auto;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  color: #4a4e50;
  padding-left: 12px;
}
#test .map_header P:nth-child(2){
  float: right;
  width: 17px;
  height: 17px;
  margin: 13px 15px 0 0;
  background: url(../../js/lib/layer/skin/default/close.png) no-repeat center;
}
#test .mapTip_content{
  width: 370px;
  height: 128px;
  margin: 0 auto;
  border-bottom: dashed 1px #d4dbdf;
}
#test .mapTip_content .lon_moudle{
  float: left;
  margin-top: 20px;
  width: 100%;
  height: 32px;
}
#test .mapTip_content .lon_moudle span{
  float: left;
  width: 50px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  color: #4a4e50;
}
#test .mapTip_content .lon_moudle .lon_title{
  float: left;
  width: 250px;
  height: 32px;
  border: solid 1px #d4dbdf;
  box-sizing: border-box;
  padding-left: 15px;
  color: #4a4e50;
  outline: none;
}
#test .foot_button{
  width: 275px;
  height: 60px;
  margin: 0 auto;
}
#test .foot_button p{
  width: 125px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  margin-top: 17px;
  border-radius: 5px;
}
#test .foot_button .foot_button_cancle{
  float: left;
  color: #667b84;
  background: #f3f6f8;
  border: solid 1px #d4dbdf;
}
#test .foot_button .foot_button_cancle:hover,active{
  color: #fff;
  background: #00a0e9;
  border: solid 1px #00a0e9;
}
#test .foot_button .foot_button_hold{
  float: right;
  color: #fff;
  background: #00bf67;
  border: solid 1px #00bf67;
}
#test .foot_button .foot_button_hold:hover,active{
  background: #16f08b;
  border: solid 1px #16f08b;
}
